@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<List<CMSProjectUmbraco.NewsletterDTO>>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>data.Email</td>
                </tr>
            }
        </tbody>
    </table>
}