@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using CMSProjectUmbraco.ActivityAdvisor;

@{
    var data = await ActivityAdvisorClient.GetActivityAdvisorAsync();
}
<div class="card" style="background-color:#cccccc; width:fit-content; margin:auto; padding:10px">
    @if (data == null)
    {
        <div></div>
    }
    else
    {
        <h3 style="text-align:center">Try an activity</h3>

        <div class="card activity-card">
            <h4>Activity</h4>
            <h5>@data.activity</h5>
            <p>Type: @data.type</p>
            <p>Number of participants: @data.participants</p>
            @if (data.link != "")
            {
                <a href="@data.link">Link to activity</a>
            }
        </div>
    }

</div>
