@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Newsletter>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<h3 style="text-align:center; margin-top:20px;">@Model.Value("newsletterTitle")</h3>
<div style="margin:auto; width:fit-content">
	@await Html.PartialAsync("NewsletterPartial", new CMSProjectUmbraco.NewsletterDTO())
	<h5>@TempData["Newsletter"]</h5>
</div>
