<header class="card-header" style="padding:0">
    <div class="mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-content-between" style="width:100%; margin:0">
            <img src="/Newspaper.png" alt="logo" style="height:100px" />
            <h1 class="ml-3 text-3xl">News website</h1>
        <div class="navbar" style="font-size:1.4em">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                News
            </NavLink>
            <NavLink class="nav-link" href="submit" Match="NavLinkMatch.All">
                Submit
            </NavLink>
        </div>
    </div>
</header>